p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
  padding: 25px;
  margin:0;
}
.title {
	color: rgb(0,0,0);
	font-family: "Garamond", serif;
}
a {
  color: rgb(160, 59, 59);
  text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


nav li {
    float: left;
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    background-color: #ddd;
    color: black;
}

nav li a.active {
    background-color: #aa4604;
    color: white;
}

h5 {
    font-size :xx-small;
    text-decoration: none;
    margin: 0;
}

right {
    text-align:right;
    color: #aa4604
}

.large-gap {
    margin-top: 150px;
    text-align:right;
}

im {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

t {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: #cecece;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}